<h1>Tasks#index</h1>

<ul id='tasks'>
  <% @tasks.each do |task| %>
    <li id='task_<%= task.id %>'><%= task.name %><%= link_to "Delete this Task", task, :method => 'delete'%></li>
  <% end %>
</ul>

<%= link_to "Create a new Task", new_task_path %>
